/ReginaldoSantaRosa_AV_GitHub/book/target/
/ReginaldoSantaRosa_AV_GitHub/jsfDemo/target/
/ReginaldoSantaRosa_AV_GitHub/jsfDemo/jsfDemo/target/
/ReginaldoSantaRosa_AV_GitHub/RA01+RA02+RA03/CRUD-FINA/target/
/ReginaldoSantaRosa_AV_GitHub/RA01+RA02+RA03/Trabalho01-JSF+AJAX/target/
/ReginaldoSantaRosa_AV_GitHub/RA01+RA02+RA03/Trabalho03-JSF-JSON/target/